/* -----
  VARIABLES
----- */

:root {
  --brand-color: #c00;
  --base-color: #fff;
  --contrast-color: #333;
}

/* -----
  FONTS
----- */

@font-face {
  font-family: 'Capitolium';
  src: url('fonts/CapitoliumBold.woff2') format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Flama';
  src: url('fonts/FlamaBook.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Flama';
  src: url('fonts/FlamaSemibold.woff2') format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Egyptienne';
  src: url('fonts/EgyptienneRegular.woff2') format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* -----
  RESETS
----- */

html,
body {
  margin: 0;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1,
h2 {
  font-family: Capitolium, Georgia, serif;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

p {
  font-family: Flama, sans-serif;
  font-size: 1.125em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

/* -----
  ELEMENTS
----- */

.header {
  padding: 1rem;
  border-bottom: .5rem solid var(--brand-color);
  text-align: center;
  font-size: 3vmin;
}

.headline {
  margin: 0;
  font-family: Egyptienne, Georgia, serif;
  font-size: 2.5em;
}

.rss-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1px;
  background-color: var(--contrast-color);
}

.news-item {
  position: relative;
  padding: 1.5em;
  text-decoration: none;
  color: var(--contrast-color);
  background-color: var(--base-color);
}
.news-item::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, .05);
  transition: opacity .2s ease-out;
}
.news-item:focus::before,
.news-item:hover::before {
  opacity: 1;
}

.news-item__label {
  display: inline-block;
  margin-bottom: .5rem;
  font-family: Flama, sans-serif;
  font-size: .8em;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--brand-color);
}

.news-item__headline,
.news-item__teaser {
  margin: 0;
}

.news-item__headline {
  font-size: 1.75em;
}

.news-item__teaser {
  margin-top: .5em;
}

/* -----
  MEDIA QUERIES
----- */

@media (min-width: 40em) {
  .rss-container {
    grid-template-columns: 300px 1fr;
  }
}
@media (min-width: 60em) {
  .rss-container {
    grid-template-columns: 300px 2fr 1fr;
  }
}
@media (min-width: 80em) {
  .rss-container {
    grid-template-columns: 300px repeat(3, 1fr);
  }
}
